An attempt to recreate MIDA Gondara and Wang(2018) from https://gist.github.com/lgondara/18387c5f4d745673e9ca8e23f3d7ebd3, which is written in R

# 1. Loading Dataset

## 1.1. Load a dataset and introduce missingness

Dataset used: Shuttle Dataset (https://archive.ics.uci.edu/ml/datasets/Statlog+(Shuttle)

### 1.1.1. Load the dataset and store it as dataframe(numeric)

In [1]:
import pandas as pd

In [10]:
def get_dataframe_from_csv(filename, header_row = None):
    """
    input filename (full path) and returns dataframe with data
    
    TO DO: 
        -: As of now reading headerless files with header = None, what if the data has a header, how to deal with that
        -: Should the last coloumn name be replaced with "label"?
        -: Add functionality for space de-limited or comma de-limited files
        -: Improve logging, make it module specific logging
    """
    assert isinstance(filename,str), "Input complete filename as a string"
    import pandas as pd
    import logging
    logger = logging.getLogger()
    logger.setLevel(logging.DEBUG)
    
    logging.info("Input filename has to be space separated data")
    
    if not header_row:
        data_orig = pd.read_csv(filename,delim_whitespace=True,header=header_row)
    return data_orig

In [11]:
#Test
filename = "data/shuttle/shuttle_trn"
train_df = get_dataframe_from_csv(filename)

INFO:root:Input filename has to be space separated data

In [12]:
train_df.head()

    0   1   2  3   4   5   6   7   8  9
0  50  21  77  0  28   0  27  48  22  2
1  55   0  92  0   0  26  36  92  56  4
2  53   0  82  0  52  -5  29  30   2  1
3  37   0  76  0  28  18  40  48   8  1
4  37   0  79  0  34 -26  43  46   2  1

In [13]:
train_df.dtypes

0    int64
1    int64
2    int64
3    int64
4    int64
5    int64
6    int64
7    int64
8    int64
9    int64
dtype: object

In [14]:
len(train_df)

43500

### 1.1.2. Inducing missingness

After dataset loading, start with inducing missingness. 

To start off, introduce simple random missing patterns (Missing Completely At Random), i.e sample half of the variables and set observations in those variables to missing if an appended random uniform vector has value less than a certain threshhold. This should introduce about 20\% missingness.

In [119]:
def induce_missingness(dataframe, perc_variables_sampled = 0.5, threshold = 0.2, logger_level =  20):
    """
    Steps:
        1. Append random uniform vector to the dataframe
        2. Decide thresold (default = 20%)
        3. Sample variables (default = 50%)
        4. In those variables (from 3), check the last column and if the value is less than threshold (2), set them to NaN
    
    
    TO DO: 
        -:Add how much percentage of the new data frame is NaN
    
    """
    import pandas as pd
    import numpy as np
    assert isinstance(dataframe,pd.DataFrame)
    import pandas as pd
    import logging
    logger = logging.getLogger()
    logger.setLevel(logger_level)
    
    observations_number, variables_number = dataframe.shape[0], dataframe.shape[1]-1 #-1 to account for the "label"
    sampled_dataframe = dataframe.iloc[:,:-1].sample(n = int(variables_number*perc_variables_sampled), axis = 1) #sample perc_variables_sampled, -1: to account for "label" 
    sampled_variables = list(sampled_dataframe.columns)
    sampled_dataframe["random"] = np.random.uniform(size = observations_number)
    
    new_df = dataframe[:]
    new_df.loc[sampled_dataframe["random"] < threshold, sampled_variables] = np.NAN
    
    logging.debug(f"\n{new_df.head()}")
    logging.debug(f"\n{sampled_dataframe.head()}")
    logging.debug(f"\n{dataframe.head()}")
    
    '''
      TO DO: 
        -:logging.info how much percentage of the new data frame is NaN
    '''
    logging.info("Returning new dataframe with MCAR induced missingness")
    
    return new_df

In [120]:
df1 = train_df[:]

In [121]:
induce_missingness(df1,logger_level=20)

         0    1      2  3     4    5   6      7     8  9
0       50   21   77.0  0  28.0    0  27   48.0  22.0  2
1       55    0   92.0  0   0.0   26  36   92.0  56.0  4
2       53    0   82.0  0  52.0   -5  29   30.0   2.0  1
3       37    0   76.0  0  28.0   18  40   48.0   8.0  1
4       37    0    NaN  0   NaN  -26  43    NaN   NaN  1
5       85    0   88.0 -4   6.0    1   3   83.0  80.0  5
6       56    0    NaN  0   NaN   11  25    NaN   NaN  4
7       55   -1   95.0 -3  54.0   -4  40   41.0   2.0  1
8       53    8   77.0  0  28.0    0  23   48.0  24.0  4
9       37    0  101.0 -7  28.0    0  64   73.0   8.0  1
10      37    0   78.0 -2  12.0    0  42   65.0  24.0  1
11      45    0   84.0  0  46.0   20  38   37.0   0.0  1
12      38    2   77.0  0  38.0    7  39   38.0   0.0  1
13      37    0   78.0  0  -2.0    5  41   81.0  40.0  1
14      41    0    NaN  0   NaN   -8  59    NaN   NaN  1
15      41    0   89.0  1  38.0  -16  48   50.0   2.0  1
16      47    0    NaN -2   NaN   -4  38    NaN   NaN  1
17      49    0   79.0  0  46.0   -5  30   32.0   2.0  1
18      49    3    NaN  0   NaN    4  33    NaN   NaN  1
19      37 -318  105.0 -2  36.0   -4  68   69.0   0.0  1
20      44    3   77.0  0  44.0    2  33   33.0   0.0  1
21     106    2  108.0  0  70.0    0   1   38.0  36.0  5
22      37   -5   76.0  0  28.0    0  40   48.0   8.0  1
23      49    0    NaN  0   NaN   19  52    NaN   NaN  1
24      45   -1   87.0 -2  44.0   -4  43   43.0   0.0  1
25      37    4   80.0  0  -2.0    0  43   83.0  40.0  1
26      55   -1   98.0  0  52.0    8  42   46.0   4.0  4
27      55    0   86.0  8  54.0    0  31   32.0   0.0  1
28      55    3   88.0  3  54.0    0  32   33.0   2.0  1
29      37    0   74.0  0  26.0   -1  38   48.0  10.0  1
...    ...  ...    ... ..   ...  ...  ..    ...   ... ..
43470   50    4   88.0  0  50.0    0  38   39.0   2.0  1
43471   43   -4  106.0  0  42.0   -7  62   64.0   2.0  1
43472   45   -2   76.0  0  44.0  -11  31   32.0   2.0  1
43473   37    0   79.0  0  10.0  374  42   69.0  26.0  1
43474   37    5    NaN  0   NaN    0  42    NaN   NaN  1
43475   46    0   81.0  0  44.0  -14  35   37.0   2.0  1
43476  102    0  102.0 -7  72.0   24   1   30.0  30.0  5
43477   44    0    NaN  0   NaN    9  42    NaN   NaN  1
43478   37    0    NaN  2   NaN   -1  39    NaN   NaN  1
43479   37    0   78.0  0  36.0   -4  41   42.0   2.0  1
43480   44    0   79.0  0  42.0  -14  35   37.0   2.0  1
43481   55    0   82.0  0 -18.0    9  26  100.0  74.0  4
43482   46    4   79.0  0  46.0   19  33   32.0   0.0  1
43483   42   -5   99.0  0  42.0    0  58   58.0   0.0  1
43484   56    0   82.0  0 -12.0    1  26   95.0  68.0  4
43485   55    0   79.0  0   6.0    8  23   74.0  50.0  4
43486   49    4   87.0  0  50.0   27  38   38.0   0.0  1
43487  105    5  106.0  1  70.0    0   1   36.0  36.0  5
43488   37    0    NaN  0   NaN    2  40    NaN   NaN  1
43489   56    0   95.0  0  56.0    1  40   39.0   0.0  1
43490   45   -5   82.0  0  44.0    0  37   38.0   0.0  1
43491   51    0    NaN  0   NaN   -7  32    NaN   NaN  1
43492  105   -1  107.0  0  70.0    0   1   37.0  36.0  5
43493   37   -1   76.0  0  38.0    6  39   37.0   0.0  1
43494   45   -5   90.0  0  44.0  -26  45   46.0   2.0  1
43495   46    5    NaN  0   NaN    5  32    NaN   NaN  1
43496   37    0   79.0 -1  10.0    3  43   69.0  26.0  1
43497   48    0   78.0  3  46.0    0  30   32.0   2.0  1
43498   41    0   79.0  0  38.0  -25  38   40.0   2.0  1
43499   40   -3  100.0  0  38.0    0  61   62.0   2.0  1

[43500 rows x 10 columns]

In [87]:
list(df1.columns)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
df1.co

In [64]:
df1.head()

      0     1     2    3     4     5     6     7     8    9
0  50.0  21.0  77.0  0.0  28.0   0.0  27.0  48.0  22.0  2.0
1  55.0   0.0  92.0  0.0   0.0  26.0  36.0  92.0  56.0  4.0
2  53.0   0.0  82.0  0.0  52.0  -5.0  29.0  30.0   2.0  1.0
3   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
4   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN

In [34]:
df1.head()

    0   1   2  3   4   5   6   7   8  9    random
0  50  21  77  0  28   0  27  48  22  2  0.729022
1  55   0  92  0   0  26  36  92  56  4  0.037615
2  53   0  82  0  52  -5  29  30   2  1  0.532924
3  37   0  76  0  28  18  40  48   8  1  0.251247
4  37   0  79  0  34 -26  43  46   2  1  0.059572

In [35]:
train_df.head()

    0   1   2  3   4   5   6   7   8  9
0  50  21  77  0  28   0  27  48  22  2
1  55   0  92  0   0  26  36  92  56  4
2  53   0  82  0  52  -5  29  30   2  1
3  37   0  76  0  28  18  40  48   8  1
4  37   0  79  0  34 -26  43  46   2  1